@font-face {
  font-family: Ananda;
  src: url(fonts/ananda/Ananda.ttf);
}


html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: myriad-pro, sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

*{
  box-sizing: border-box;
}



/* --------- LOGIN --------- */

.auth-bg{
  background-image: url("../img/top.svg");
  background-repeat: no-repeat;
}

.bottom{
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 175px;
  background-image: url("../img/bottom");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}


.auth-container{
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80%;
  margin: auto 0;
}

.auth-titre{
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
  color: #10898C;
  font-style: normal;
  font-weight: 400;
}

.logo-auth{
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 0 15px 0;
}



#input-identifiant, #input-password{
  display: inline-block;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  padding-left: 30px ;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px grey solid;
  color: black !important;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

.input-container > ::placeholder{
  color: #8C8C8C);
  font-family: 'Abel', sans-serif;
}

.form-auth{
  width: 200px;
  margin-top: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icones-auth{
  width: 20px;
  height: 20px;
  position: relative;
  top: 25px;
}

.button-auth{
  display: block;
  width: 200px;
  height: 30px !important;
  margin: 20px auto;
  border-radius: 8px;
  background-color: #10898C;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.11);
}



nav{
  width: 220px;
  height: 100vh;
  background-color: #4BB5C1;
  font-size: 18px;
  border-right: 1px solid #3a8084;
  z-index: 3;
}

nav > img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: white 1px solid;
  margin: 30px auto 50px;
}



nav li{
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation{
  padding: 0;
}

nav a{
  color: white;
  text-decoration: none;
}

.nav-item{
  height: 40px;
  width: 100%;
  padding: 0 0 0 20px;
  line-height: 35px;
}

.nav-item:hover{
  background-color: #339fa5;
}

.nav-active{
  border-right: 5px solid white;
  background-color: #297175;
}

.deco-button{
   text-transform: uppercase;
   position: absolute;
   top: 50px;
   right: 30px;
   color: #297175;
   text-decoration: none;
   font-size: 16px;
}

header{
  width: 100%;
  height: 120px;
  margin: 0;
}

header > h1{
  font-family: Ananda;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 110px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
}

.container-patientn, .prog-container {
  display: inline-block;
  width: calc(100vw - 220px);
}

.information-container{
  padding: 40px 0 0 60px;
  background-color: #EFF1F2;
  height: calc(100vh - 120px);
}

.search-patient-container{
  width: 100%;
}

.search-patient{
  display: inline-block;
  width: 60%;
  height: 40px;
  padding-left: 20px;
  border-radius: 12px;
  border: 1px solid white;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

textarea:focus, input:focus{
    box-shadow: 0 0 1px 2px #5cb7bc;
    outline: none;
    border: none;
}

.add_patient{
  background-color: #EFF1F2;
  border: 1px white;
  width: 200px;
  font-size: 18px;
  margin: 0 0 0 50px;
}

.add_patient i{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #4BB5C1;
  margin-right: 10px;
  line-height: 25px;
}

.add_patient > a {
  color: #4BB5C1;
  text-decoration: none;
}

.table-patients{
  margin: 50px 0 0 0;
  border: none;
  border-collapse: 0;
  border-spacing: 0;
  width: 80%;
  min-width: 850px;
}

.table-head{
  border: 1px solid black;
  height: 70px;
  font-size: 20px;
  background-color: white;
  color: #696969;
}

.table-head> th{
  width: 120px;
  border-bottom: 20px solid #EFF1F2;
}

.table-infos{
  text-align: center;
  background-color: white;
  margin: 50px 0 0 0;
  height: 35px;
}


.table-nom-titre{
  width: 120px !important;
  text-align: left;
  padding-left: 10px;

}

.table-nom-patient{
  width: 120px !important;
  text-align: left;
  padding-left: 10px;
  height: 30px;
  color: #4BB5C1;
  text-transform: uppercase;
}

.table-prenom-patient{
  color: #4BB5C1;
}

.table-nom-email{
  width: 220px !important;
}

.profil{
  text-transform: uppercase;
  color: #297175;
  font-size: 15px;
  text-decoration: none;
}

.inputs-add-patient-general{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 50px;
}

.inputs-add-patient-general h3{
  margin: 5px 0 10px 5px;
  font-size: 15px;
}

.info-add-patient1, .info-add-patient2{
  width: 70%;
  min-width: 815px;
  background-color: #EFF1F2;
  padding: 20px;
  margin: 30px 0;
  height: 300px;
}

.flex-add{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.input-add-css{
  display: block;
  width: 350px;
  height: 40px;
  border: 0;
  padding: 0 0 0 10px;
  margin: 10px 0;
}

.add-antecedent{
  margin: 10px 0 0 20px;
  resize: none;
  width: 500px;
  height: 180px;
  border: 0;
  padding: 10px;
}

.add-patient{
  display: block;
  width: 220px;
  height: 55px;
  background-color: #4BB5C1;
  color: white;
  border: 0;
  margin: 0 0 0 0;
  font-size: 18px;
}

.add-patient:hover{
  background-color: #339fa5;
  cursor: pointer;
}

.add-patient:active{
  background-color: #297175;
  outline: none;
  border: none;
}



































/* .search-bar-exos{
  width: 400px;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 12px;
}



.main-programme{
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100%;
  padding-top: 55px;
  box-sizing: border-box;
}

.choice-container{
  width: 23%;
  min-width: 350px;
  position: relative;
  opacity: 0.5;
}

.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-width: 350px;
  height: 100%;
}

.choice-container img{
  margin: 50px 0 0 0 ;
  width: 100%;
  height: auto;
}

.prog-container{
  width: 50%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid;
  border-right: 1px solid;
} */
