html, body {
  height: 100%;
  /* height: -webkit-calc(100% - 30px);
  height: -moz-calc(100% - 30px);
  height: calc(100% - 30px); */
  padding: 0;
  margin: 0;
  font-family: sans-serif;

}

nav{
  width: 100%;
  height: 55px;
  border-bottom: 1px solid grey;
  position: absolute;
  top: 0;
  left: 0;

}

.navigation{
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li{
  display: inline;
  margin: 0 15px;
  line-height: 56px;
}

.navigation li a{
  color: grey;
  text-decoration: none;
}

.navigation li a:hover{
  color: #5cdbd9;
}

.navigation li:last-child{
  position: absolute;
  right: 20px;
}

.search-bar-exos{
  width: 400px;
  height: 35px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 12px;
}

textarea:focus, input:focus{
    color: #5cdbd9;
    box-shadow: 0 0 2pt 2pt #42c9b7;
    outline: none;
    border: none;
}

.main-programme{
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100%;
  padding-top: 55px;
  box-sizing: border-box;
}

.choice-container{
  width: 23%;
  min-width: 350px;
  position: relative;
  opacity: 0.5;
}

.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  min-width: 350px;
  height: 100%;
}

.choice-container img{
  margin: 50px 0 0 0 ;
  width: 100%;
  height: auto;
}

.prog-container{
  width: 50%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid;
  border-right: 1px solid;
}
